@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

h1{
  background-color: indianred;
  font-size: 60px;
  font-family:'Itim', cursive;
  text-align: center;
  color:cornsilk;
  padding: 40px;
  margin-bottom: 1em;  
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


